/* COLORES 
principal: #504091;
secundario: #403275;
azul : #151D3B;
bordo: #D82148;
*/
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.contenedor {
    margin: auto;
    width: 90%;
}

.titulo-seccion {
    margin-top: 0;
    text-align: left;
    margin-left: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* ENCABEZADO 
header{
    background-color:#504091;
}*/

/* ENCABEZADO CON GRADIANTE*/
@keyframes animacionLogo {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes animacionAction {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0px);
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(to right, #ad5389, #3c1053);
}

header .navbar-collapse {
    justify-content: flex-end;
}

header .navbar-nav a {
    color: #fff !important;

}

header nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-around;
    align-items: a;
    padding: 32px 0;
}

header nav .menu-bar {
    display: none;
}

.btn-action {
    grid-column: 11/13;
    max-width: 105px;
    max-height: 40px;
    color: #fff;
    background-color: #D82148;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 20px;
    animation: animacionAction 0.5s linear;
}

.btn-action:hover {
    background-color: #fff;
    color: #D82148;
}

nav .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    grid-column: 4/10;
    gap: 8px;
}

nav .menu a,
.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    padding: 8px;
}

nav .menu a:hover,
.navbar-nav .nav-link:hover {
    transition: all .5s ease;
    color: #fff;
    background-color: #403275;
    border-radius: 5px;
    display: block;
    transform: scale(1.1);
}

.navbar-nav .nav-action {
    max-width: 105px;
    max-height: 40px;
    color: #fff;
    background-color: #D82148;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 20px;
    margin-left: 5rem;
    animation: animacionAction 0.5s linear;
}

.navbar-nav .nav-action:hover {
    background-color: #fff;
    color: #D82148 !important;
    border-radius: 20px;

}



.logo-img {
    display: block;
    animation: animacionLogo 0.5s linear;
    width: 50px;
}

/* SECCION SLIDER */
.slider {
    /*
    background: url("../assets/d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    */
}

.slider .carousel .carousel-caption {
    font-family: 'Open Sans', sans-serif;
}

/* LIBRERIA */
.libreria {
    background-color: #6EBF8B;
    padding: 32px 0;
}

.libreria .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.libreria .libro {
    margin-right: 20px;
}

.libreria .libro:last-child {
    margin-right: 0;
}

.libreria .libro img {
    width: 100%;
}

.libreria .contenedor .boton-comprar {
    background-color: #b22cb2;
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;

}

/*EXPERIENCIAS */
.experiencias {
    padding: 32px 0;
}

/* .experiencias .contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
} */

.experiencias article img {
    width: 100%;
}

.experiencias article:last-child {
    margin-right: 0;
}

.estilo-experiencias {
    background: linear-gradient(to right, #ad5389, #3c1053);
    height: 40px;
    text-align: center;
    padding-top: 7px;
}

.estilo-experiencias a {
    color: #fff;
    font-weight: bold;
}



/* FOOTER */
footer {
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
}

footer .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

footer .info-contacto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .info-contacto ul li {
    margin: 8px 0;
}

footer .info-contacto ul li i {
    margin-right: 8px;
}

footer .copyright {
    text-align: center;
}

footer .redes {
    text-align: center;
}

footer .redes i {
    font-size: 32px;
}

footer .redes a {
    color: #fff;
    margin-right: 0.5rem;
}

footer .redes a:hover {
    transition: all .5s ease;
    opacity: .7;
}

footer .redes img {
    width: 30px;
}

/* PAGINA LIBRERIA  */
.pagina-libreria {
    background-color: #946ebf;
}

.pagina-libreria .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.mas-vendidos,
.novelas,
.relatos,
.no_ficcion {
    padding: 32px 0;
    color: #fff;
}

/*
.mas-vendidos .contenedor, .novelas .contenedor, .relatos .contenedor, .no_ficcion .contenedor{
    display: flex;
} */
.mas-vendidos .libro img,
.novelas .libro img,
.relatos .libro img,
.no_ficcion img {
    width: 100%;
}

.mas-vendidos .libro,
.novelas .libro,
.relatos .libro,
.no_ficcion .libro {
    margin-right: 16px;
}

.mas-vendidos .libro:last-child,
.novelas .libro:last-child .relatos .libro:last-child .no_ficcion:last-child {
    margin-right: 0;
}

.mas-vendidos {
    background-color: #6EBF8B;
}

.relatos {
    background-color: #D82148;
}

.text-right {
    text-align: right !important;
}

.libro {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.libro .libro__comprar {
    padding: 12px;
    background-color: #fff;
    color: #D82148;
}

.libro .libro__comprar:hover {
    transition: all .4s ease;
    background-color: #D82148;
    color: #fff;
}

.pagina-libreria .libro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.libro__hover {
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.libro:hover .libro__hover {
    transform: translateX(0%);
}

/* PAGINA EXPERIENCIA */
.seccion-experiencia {
    background-color: #6EBF8B;
    padding-top: 32px;
}

blockquote {
    text-align: center;
    margin: 0;
    padding: 12px;
}

.seccion-experiencia .contenedor {
    padding: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.seccion-experiencia .titulo-seccion {
    margin: 35px 0 30px 0;
    text-align: center;

}

.experiencia-text {
    height: 300px;
    overflow: scroll;
}

.experiencia-text p {
    text-align: justify;
    padding-left: 25px;
}

.seccion-experiencia .experiencia-img img {
    width: 100%;
}

.experiencia-ficcion,
.experiencia-infantil,
.experiencia-noficcion {
    height: 500px;
    display: flex;
}    

/* media para celular para experiencias */
@media (min-width:0) and (max-width:600px) {
    .experiencia-ficcion,
    .experiencia-infantil,
    .experiencia-noficcion {
        height: auto;
    }

    .experiencia-img {
        width: 80%;
        padding-bottom: 15px;
    }
}


.experiencia-ficcion,
.experiencia-noficcion {
    margin-top: 25px;
}

.experiencia-infantil {
    background-color: #D82148;
}

.experiencia-ficcion {
    background-color: #151d3b
}

.experiencia-noficcion {
    background-color: #946ebf;
}

.experiencia-img {
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
}

.experiencia-video {
    margin-top: 35px;
    margin-bottom: 35px;
}


.experiencia-video a {
    color: #fff;
}

.experiencia-video .btn-action {
    background: #6EBF8B;
}

.experiencia-video .contenedor {
    max-width: 750px;
    height: 450px;
    background: #d82148;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-formulario {
    background-color: #6ebf8b;
    padding: 32px 0;
}

.seccion-formulario .contenedor {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.seccion-formulario form {
    width: 400px;
    margin-right: 48px;
    text-align: center;
    background-color: #d82148;
    color: #fff;
    padding: 32px 0;
}

.seccion-formulario .instrucciones {
    width: 450px;
    color: #fff;
    padding: 0 32px;
    background: #504091;
}

.seccion-formulario form div {
    margin-bottom: 16px;
}

.seccion-formulario form .btn-buscar {
    font-weight: bold;
    color: #000;
}

.seccion-formulario form .input-busqueda {
    display: block;
    margin: auto;
    margin-top: 6px;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #fff;
}

.seccion-formulario form .btn-confirmar {
    margin-top: 16px;
    color: #d82148;
    background-color: #fff;
    padding: 2px 16px;
    font-size: 16px;
    border-radius: 20px;
    border: 0;
}

/* PAGINA ASOCIATE */
.seccion-form {
    padding: 32px 0;
    background-color: #6EBF8B;
}

.seccion-form .contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contenido-form {
    margin: 0 auto;
    align-items: center;
}

.col-form-label {
    margin-right: 25px;
}

.form-select {
    width: 50%;
    margin-left: 15px;
}

.form-botones {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

.form-botones button {
    margin-right: 25px;
}

.img-descriptiva img {
    width: 80%;
}

.btn {
    background-color: #D82148;
    width: 90px;
    font-weight: bold;
}


/* PAGINA TALLERES*/
.talleres {
    padding: 32px 0;
    background-color: #946ebf;
    color: #fff;
}

.taller {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin-top: 32px;
    border-radius: 20px;
    background-color: #d82148;
    color: #fff;
    padding: 16px;
}


.taller__video {
    min-height: 300px;
}

.taller .btn-pdf {
    font-weight: bold;
    color: #151d3b;
    margin-left: 4px;
}

.taller .btn-pdf:hover,
#tallerInvertido .btn-pdf:hover {
    transition: all 0.4s ease;
    color: #fff;
}

#tallerInvertido {
    background-color: #151D3B;
}

#tallerInvertido .btn-pdf {
    color: #D82148;
}

#tallerInvertido .taller__video {
    order: -1;
}

/*PAGINA COMO FUNSIONA*/

.membresia {
    padding: 32px 0;
    background-color: #D82148;
    color: #fff;
}

.membresia .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
}

.membresia .membresia-texto:last-child {
    margin-right: 0;
    margin-left: 16px;
}

.membresia .membresia-texto p:first-child {
    margin-top: 0;
}

.membresia-img img {
    width: 100%;
}

/* PREGUNTAS FRECUENTES */
.faq {
    width: 100%;
    background-color: #6EBF8B;
    padding: 32px 0;
    margin: 0 auto;
    height: 513px;
}

@media screen and (max-width: 575px) {
    .faq {
        height: 600px;
    }
}


.faq h2 {
    color: #fff;
    text-align: center;
}

.accordion {
    margin-top: 25px;
}

.accordion-item .accordion-body {
    background-color: #D82148;
    color: #fff;
    font-size: 18px;
}

.accordion-item .accordion-header .accordion-button {
    background-color: #946ebf;
    font-size: 20px;
    color: #000;
}


.pregunta {
    background: #d82148;
    padding: 16px;
    width: 750px;
    color: #fff;
    margin: auto;
    margin-top: 32px;
}

.pregunta p:first-child {
    font-weight: bold;
    padding: 8px;
    background-color: #504091;
}

.pregunta a {
    font-weight: bold;
    color: #fff;
    font-style: italic;
}

.pregunta a:hover {
    transition: all 0.4s ease;
    opacity: .7;
}

/* PAGINA ASOCIATE */
.seccion-form .form-group {
    display: flex;
    margin: 6px 0;
    align-items: center;
}

.seccion-form .form-group label {
    display: block;
    min-width: 80px;
}

.seccion-form .contenedor-intereses {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.seccion-form .contenedor-intereses label {
    min-width: auto;
}

/*
 MEDIA QUERYS
*/
@media screen and (max-width: 600px) {
    .titulo-seccion {
        margin-left: 0;
        text-align: center;
    }

    /* NAV */
    .navbar-nav .nav-link {
        text-align: center;
    }

    .navbar-nav .nav-action {
        margin: 0;
        margin-top: 2rem;
        width: 100%;
        max-width: none;
        border-radius: 0;
    }

    nav {
        grid-template-columns: repeat(8, 1fr) !important;
    }

    nav .logo {
        grid-column: 2/3;
    }

    nav .menu {
        display: none;
    }

    nav .btn-action {
        display: none;
    }

    nav .menu-bar {
        display: block !important;
        grid-column: 8/9;
    }

    nav .menu-bar i {
        font-size: 28px;
        color: #fff;
    }

    /* INDEX - SECCION LIBRERIA */
    .libreria .contenedor {
        grid-template-columns: 1fr;
    }

    /* INDEX - SECCION EXPERIENCIA */
    .experiencias .contenedor {
        grid-template-columns: 1fr;
    }

    /* PAGINA LIBRERIA */
    .pagina-libreria .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }

    .pagina-libreria .libro__hover {
        transform: none;
        justify-content: flex-end;
    }

    /* PAGINA EXPERIENCIAS */
    .seccion-experiencia .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 10px;
    }

    .experiencia-img,
    .experiencia-text {
        margin: 0;
        width: 100% !important;
        text-align: center;
    }

    .experiencia-img blockquote {
        text-align: center;
    }

    .seccion-formulario .contenedor {
        grid-template-columns: 1fr;
    }

    .seccion-formulario form,
    .seccion-formulario .instrucciones {
        width: 100%;
        margin-top: 1rem;
        box-sizing: border-box;
        padding: 1rem;
    }

    /* PAGINA COMO FUNCIONA */
    .membresia .contenedor {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .membresia .membresia-texto {
        margin-top: 1rem;
    }

    /* PAGINA ASOCIATE */
    .seccion-form .contenedor {
        grid-template-columns: 1fr;
    }

    /* PAGINA TALLERES */
    .taller {
        grid-template-columns: 1fr;
        text-align: center;
    }

    /* PAGINA PREGUNTAS */
    .faq .pregunta {
        width: auto;
    }

    /* PAGINA ASOCIATE */
    .seccion-form .form-group label {
        font-size: 14px;
    }

    /* FOOTER */
    footer .contenedor {
        grid-template-columns: 1fr;
        text-align: center;
    }

}



/* MEDIAQUERYS TABLET */
@media screen and (min-width: 600px) and (max-width:960px) {

    /* NAV */
    .navbar-nav .nav-link {
        font-size: 14px !important;
    }

    .navbar-nav .nav-action {
        margin-left: 0.2rem !important;
    }

    nav {
        grid-template-columns: repeat(8, 1fr) !important;
    }

    nav .logo {
        grid-column: 1/2;
        text-align: center;
    }

    nav .menu {
        grid-column: 2/10;
    }

    nav .menu a {
        font-weight: bold;
        font-size: 13px;
    }

    nav .btn-action {
        font-size: 14px;
        text-align: center;
    }

    /* PAGINA LIBRERIA */
    .pagina-libreria .libro__hover {
        transform: none;
        justify-content: flex-end;
    }

    .pagina-libreria .contenedor {
        grid-template-columns: repeat(2, 1fr)
    }

    /* PAGINA EXPERIENCIAS */
    .seccion-formulario form,
    .seccion-formulario .instrucciones {
        width: auto;
    }

    /* PAGINA PREGUNTAS */
    .faq .pregunta {
        width: auto;
    }

    
    /* PAGINA ASOCIATE */
    .seccion-form .form-group label {
        font-size: 14px;
    }
}