
.libreria {
    background-color: #6EBF8B;
    padding: 32px 0;

        .contenedor {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

        }
    
        .libro {
            margin-right: 20px;
          
    
            &:last-child{
                margin-right: 0;
            }
    
            & img{
                width: 100%;
            }
        }
    

}
